@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#__next {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --swiper-navigation-color: #fff;
  --swiper-theme-color: #e47b0e !important;
  --swiper-pagination-bullet-inactive-color: #fff !important;
  --font-nunito: "Nunito";
  --font-roboto: "Roboto";
  --font-poppins: "Poppins";
}

@layer components {
  .btn-yellow {
    @apply bg-[#E47B0E] text-white border border-[#e47d0e] focus:outline-none font-medium disabled:opacity-75 rounded text-sm px-4 py-3 cursor-pointer transition-all ease-in duration-200 font-poppins;
  }
}

.myswiper .swiper-button-prev {
  top: 90% !important;
  left: 89% !important;
}

.myswiper .swiper-button-next {
  top: 90% !important;
  right: 5% !important;
}

.myswiper .swiper-button-next:after,
.myswiper .swiper-rtl .swiper-button-prev:after,
.myswiper .swiper-button-prev:after,
.myswiper .swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.myswiper .swiper-horizontal > .swiper-pagination-bullets,
.myswiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.myswiper .swiper-pagination-custom,
.myswiper .swiper-pagination-fraction {
  bottom: auto !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 60px !important;
  object-fit: cover !important;
}

.image-gallery-thumbnails {
  padding: 1rem !important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 340px !important;
  object-fit: cover !important;
  max-width: 648px !important ;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 30px !important;
}

.image-gallery-slide .image-gallery-image {
  width: 648px !important ;
}

.image-gallery-icon:hover {
  color: #e47b0e !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border-color: #e47b0e !important;
}

/* fade-in effect */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
  position: absolute;
}

.fade-in.active {
  opacity: 1;
}

/* animation loading_state */
.loading_state {
  -webkit-animation: loading_state 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite alternate both;
  animation: loading_state 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
    alternate both;
}

@-webkit-keyframes loading_state {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loading_state {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* Mobile */
@media (max-width: 800px) {
  .myswiper .swiper-button-prev {
    top: 90% !important;
    left: 82% !important;
  }

  .myswiper .swiper-button-next {
    top: 90% !important;
    right: 5% !important;
  }

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    height: 200px !important;
    object-fit: cover !important;
  }

  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    width: 24px !important;
  }
}

/** =================================================
      Css Container resets
==================================================== **/

/* @media (min-width: 1200px) {
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
} */

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.curve {
  width: 200px;
  position: relative;
}

.curve:before,
.curve:after {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 30%;
  left: 0;
  height: 40px;
  background: radial-gradient(50% 100% at top left, #0c1239 98%, #fff) bottom,
    radial-gradient(50% 100% at bottom right, #fff 98%, #0c1239) top;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.curve:after {
  transform-origin: right;
  transform: scaleX(-1);
}
